<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.yueba.mapper.VisitorRecordMapper" >
  <resultMap id="BaseResultMap" type="me.zhengjie.modules.yueba.domain.VisitorRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vistor_id" property="vistorId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="vistor_time" property="vistorTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, vistor_id, user_id, vistor_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from visitor_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from visitor_record
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="me.zhengjie.modules.yueba.domain.VisitorRecord" >
    insert into visitor_record (id, vistor_id, user_id, 
      vistor_time)
    values (#{id,jdbcType=BIGINT}, #{vistorId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{vistorTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="me.zhengjie.modules.yueba.domain.VisitorRecord" >
    insert into visitor_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vistorId != null" >
        vistor_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="vistorTime != null" >
        vistor_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vistorId != null" >
        #{vistorId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="vistorTime != null" >
        #{vistorTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="me.zhengjie.modules.yueba.domain.VisitorRecord" >
    update visitor_record
    <set >
      <if test="vistorId != null" >
        vistor_id = #{vistorId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="vistorTime != null" >
        vistor_time = #{vistorTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.zhengjie.modules.yueba.domain.VisitorRecord" >
    update visitor_record
    set vistor_id = #{vistorId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      vistor_time = #{vistorTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>